$background-color_1: #ffffff;
$background-color_2: #ff3434;
$background-color_3: #fe9526;
$background-color_4: #ffcb2f;
$background-color_5: #53d86a;
$background-color_6: #0052ff;
$background-color_7: hsl( 221, 100%, calc(50% * 1.85) );
$background-color_8: hsl( 221, 100%, calc(50% * 1.65) );
$background-color_9: hsl( 221, 100%, calc(50% * 1.45) );
$background-color_10: hsl( 221, 100%, calc(50% * 1.25) );
$background-color_11: hsl( 221, 100%, calc(50% * 1) );
$background-color_12: hsl( 221, 100%, calc(50% * 0.9) );
$background-color_13: hsl( 221, 100%, calc(50% * 0.75) );
$background-color_14: hsl( 221, 100%, calc(50% * 0.55) );
$background-color_15: hsl( 221, 100%, calc(50% * 0.35) );
$background-color_16: rgba(0, 82, 255, 0.08);
$background-color_17: rgba(0, 82, 255, 0.16);
$background-color_18: rgba(0, 82, 255, 0.24);
$background-color_19: rgba(0, 82, 255, 0.32);
$background-color_20: rgba(0, 82, 255, 0.4);
$background-color_21: rgba(0, 82, 255, 0.48);

body {
	background-color: $background-color_1;
}
.square {
	height: 48px;
	width: 48px;
	margin: 5px;
	margin-left: 200px;
	border-radius: 3px;
}
.square1 {
	height: 130px;
	width: 130px;
	margin: 10px;
	border-radius: 3px;
}
#red {
	background-color: $background-color_2;
	margin-left: 200px;
}
#orange {
	background-color: $background-color_3;
}
#yellow {
	background-color: $background-color_4;
	margin-left: 200px;
}
#green {
	background-color: $background-color_5;
	margin-left: 200px;
}
#blue {
	background-color: $background-color_6;
}
#a1 {
	background-color: $background-color_7;
}
#a2 {
	background-color: $background-color_8;
}
#a3 {
	background-color: $background-color_9;
}
#a4 {
	background-color: $background-color_10;
}
#a5 {
	background-color: $background-color_11;
}
#a6 {
	background-color: $background-color_12;
}
#a7 {
	background-color: $background-color_13;
}
#a8 {
	background-color: $background-color_14;
}
#a9 {
	background-color: $background-color_15;
}
#b1 {
	background-color: $background-color_16;
}
#b2 {
	background-color: $background-color_17;
}
#b3 {
	background-color: $background-color_18;
}
#b4 {
	background-color: $background-color_19;
}
#b5 {
	background-color: $background-color_20;
}
#b6 {
	background-color: $background-color_21;
}
