@font-face {
  src: url(fonts/saudagar_400.ttf);
  font-family: Saudagar;
  src: url(fonts/saudagar_400.woff2) format("woff2"), url(fonts/saudagar_400.woff) format("woff");
  font-weight: normal;
}

@font-face {
  src: url(fonts/SukhumvitSet-Text.ttf);
  font-family: Sukhumvit;
  src: url(fonts/sukhumvitset-text-webfont.woff2) format("woff2"), url(fonts/sukhumvitset-text-webfont.woff) format("woff");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow-x: unset;
}

.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/salon.svg");
  height: 75rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  flex-direction: column;
  text-align: center;
}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.72);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-page-button {
  width: 17.625em;
  height: 3.688rem;
  background: #dcac9b;
  border-radius: 2px;
  font-family: Sukhumvit;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 172%;
  text-align: center;
  color: #1a1a1a;
  border: none;
}

.div-button {
  padding-top: 4.375rem;
}

.first-text-centre {
  overflow: hidden;
  font-family: Saudagar;
  font-weight: 400;
  font-size: 17.188rem;
  line-height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  animation: typing 4.5s steps(100, end) infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: "hide";
  }
}

.first-text-bottom {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 2rem;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
}

.header {
  overflow: hidden;
  padding-top: 5rem;
}

.img-logo {
  width: 9.438rem;
  height: 3.188rem;
}

.header a,
.header p {
  float: left;
  color: #ffffff;
  font-family: Sukhumvit;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 133%;
  padding-left: 4.063rem;
}

.header a.logo,
.header p.logo {
  padding-left: 7.188rem;
}

.header-right {
  float: right;
  padding-right: 7.188rem;
}

.page2 {
  background: #1a1a1a;
  color: #ffffff;
  height: 80rem;
  font-family: Saudagar;
  font-weight: 400;
}

.top-text {
  padding: 0rem;
  margin: 0rem;
  font-size: 19.4rem;
  line-height: 100%;
  text-transform: uppercase;
  opacity: 0.06;
  white-space: nowrap;
}

.second-text-centre {
  font-size: 3.125rem;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 13.188rem;
}

.second-text-bottom {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 2.875rem;
}

.makeup {
  padding-top: 14.875rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95rem;
}

.right-text,
.left-text {
  font-family: Saudagar;
  font-weight: 400;
}

.picture {
  padding-left: 17.688rem;
  padding-right: 15.625rem;
}

.page3 {
  height: 97.188rem;
  background: #ffffff;
  padding-top: 21.25rem;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.t-one {
  color: #dcac9b;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 150%;
  text-transform: uppercase;
}

.t-two {
  font-size: 3.125rem;
  line-height: 130%;
  text-transform: uppercase;
}

.t-two.white {
  color: #ffffff;
}

.t-two.black {
  color: #1a1a1a;
}

.t-three {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
  padding-top: 2.938rem;
}

.t-three.opacity-black {
  color: rgba(26, 26, 26, 0.8);
}

.t-three.opasity-white {
  color: rgba(255, 255, 255, 0.8);
}

.page4 {
  height: 59.375rem;
  background: #1a1a1a;
  align-items: center;
  display: flex;
}

.img-page4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 10px;
  height: 100%;
  justify-content: flex-end;
  flex: 1;
}

.picture-right {
  flex: auto;
  padding-right: 12.5rem;
  height: 110%;
  justify-self: flex-end;
}

.left-text {
  padding-left: 17.688rem;
  flex: 50%;
}

.page5 {
  height: 124rem;
  padding-top: 15rem;
}

.page5-text {
  display: table-cell;
  flex: 50%;
  font-family: Saudagar;
  font-weight: 400;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
}

.picture-page5 {
  height: 47.25rem;
  padding-top: 13.125rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 9.125rem;
  margin: auto;
}

.page5-soon {
  font-family: Sukhumvit;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 7.5rem;
}

.page5-button {
  padding-top: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.five-page-button {
  width: 11.375rem;
  height: 3.25rem;
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  border: none;
  text-align: center;
  font-family: Sukhumvit;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 133%;
  text-transform: capitalize;
}

.circle {
  background-color: #dcac9b;
  opacity: 0.6;
  border-radius: 50%;
  display: inline-block;
  height: 33.813rem;
  width: 33.813rem;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  margin-top: 17.438rem;
}

.first-circle {
  display: inline-block;
  margin-left: 6.188rem;
  margin-right: 2.313rem;
}

.img-circle {
  display: inline-block;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0.6;
  height: 33.813rem;
  width: 33.813rem;
  margin-right: 6.218125em;
  margin-left: 2.313rem;
}

.btn-r {
  margin-left: 1.25em;
}

.btn-img,
img.del {
  vertical-align: middle;
}

img.del {
  display: inline-block;
  cursor: pointer;
  position: relative;
  height: 22.1px;
  width: 17.22px;
  padding-bottom: 0.25rem;
}

img.play {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.padding {
  padding-right: 0.625rem;
}

.astext {
  display: inline-block;
  text-align: center;
  margin-left: 0.625em;
}

.page6 {
  height: 67.5rem;
  background: #1a1a1a;
}

form {
  color: #8e8e8e;
  padding-top: 3.75rem;
  padding-left: 72.5rem;
}

input {
  max-width: 35.031rem;
  width: 100%;
  background: none;
  opacity: #ffffff, 0.7;
  border: none;
  border-bottom: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #ffffff;
  margin-bottom: 3.125em;
  font-family: Sukhumvit;
}

input:focus,
input:hover {
  outline: none;
}

.formlabel {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 1rem;
  line-height: 165%;
  text-transform: uppercase;
}

h2 {
  font-family: Saudagar;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 130%;
  padding-top: 7.5rem;
  text-transform: uppercase;
  color: #ffffff;
}

.last-img {
  float: left;
  padding-right: 11.875rem;
  height: 67.5rem;
}

.six-page-button {
  width: 35.031rem;
  height: 3.688rem;
  background: #dcac9b;
  border-radius: 2px;
  font-family: Sukhumvit;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 172%;
  text-align: center;
  color: #1a1a1a;
  border: none;
}

.icon-right {
  margin-top: 0.75rem;
  margin-left: 15.47rem;
}

.box {
  display: flex;
  flex-direction: column-reverse;
}

input:focus + label {
  transform: translateY(-10px);
}

#footer {
  height: 6.875rem;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.form-inline {
  flex-flow: row wrap;
  align-items: center;
}

.footer-text {
  margin-left: 89.813rem;
  font-family: Sukhumvit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 165%;
}

.footer-logo {
  height: 1.063rem;
  width: 6.938rem;
}

.light-btn:hover,
.light-btn:focus {
  background-color: #ebcec5;
  cursor: pointer;
}

.five-page-button:focus,
.five-page-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main {
  overflow-x: hidden;
}

.up {
  animation: 2s anim-up ease-out infinite;
}

@keyframes anim-up {
  0% {
    opacity: 0.02;
    transform: translateX(80%);
  }
  50% {
    opacity: 0.04;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

.moving-left {
  transition: transform 0.3s ease;
  transform: translateX(0px);
}

.moving-left:hover {
  transform: translateX(60px);
}

@media only screen and (max-width: 1919px) and (min-width: 1700px) {
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #c-1,
  #c-2,
  #c-3 {
    width: 31rem;
    height: 31rem;
  }
  .top-text {
    text-align: center;
    font-size: 17.3rem;
  }
  .t-two {
    font-size: 3rem;
  }
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  form {
    padding-left: 0;
  }
  .footer-text {
    margin-left: auto;
    margin-right: 3rem;
  }
  .footer-logo {
    margin-left: 3rem;
  }
  .last-img {
    padding-right: 8rem;
  }
}

@media only screen and (max-width: 1699px) and (min-width: 1400px) {
  .top-text {
    font-size: 14rem;
    text-align: center;
  }
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  .makeup {
    width: 100%;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #c-1,
  #c-2,
  #c-3 {
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
  }
  form {
    padding-left: 0;
  }
  .last-img {
    max-width: 55%;
    padding-right: 3rem;
  }
  .footer-text {
    margin-left: auto;
    margin-right: 3rem;
  }
  .footer-logo {
    margin-left: 3rem;
  }
  .right-text {
    padding-left: 2rem;
  }
  .left-text {
    padding-right: 2rem;
  }
  .picture {
    padding-right: 10%;
  }
}

@media (max-width: 1399px) and (min-width: 1130px) {
  .top-text {
    font-size: 12.3rem;
    text-align: center;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #c-1,
  #c-2,
  #c-3,
  .picture-page5 {
    width: 25rem;
    height: 25rem;
    margin: auto;
  }
  .picture-page5 {
    height: fit-content;
    margin: auto;
  }
  .second-text-bottom {
    font-size: 1.125rem;
  }
  .left-text,
  .page5-text,
  .picture-right,
  .picture {
    padding-left: 5rem;
  }
  .page5-text,
  .right-text,
  .picture-right,
  .picture {
    padding-right: 5rem;
  }
  .makeup {
    width: 100%;
  }
  .footer-text {
    margin-left: auto;
    margin-right: 3rem;
  }
  .footer-logo {
    margin-left: 3rem;
  }
  form {
    padding-left: 0;
  }
  .page5 {
    height: 87.5rem;
  }
  .last-img {
    max-width: 40%;
    padding-right: 3rem;
  }
}

@media (max-width: 1130px) {
  .top-text {
    font-size: 9.6rem;
    text-align: center;
  }
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  #c-1,
  #c-2,
  #c-3,
  .picture-page5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 16.90625rem;
    height: 16.90625rem;
  }
  .picture-page5 {
    height: fit-content;
  }
  .parent {
    margin-top: auto;
  }
  .second-text-bottom {
    font-size: 1.125rem;
  }
  .left-text,
  .page5-text,
  .picture-right,
  .picture {
    padding-left: 5rem;
  }
  .page5-text,
  .right-text,
  .picture-right,
  .picture {
    padding-right: 5rem;
  }
  .makeup {
    width: 100%;
  }
  .footer-text {
    margin-left: auto;
    margin-right: 3rem;
  }
  .footer-logo {
    margin-left: 3rem;
  }
  form {
    padding-left: 0;
  }
  .last-img {
    height: fit-content;
    max-width: 30%;
    margin-top: 25%;
    padding-right: 1rem;
  }
  .page5 {
    height: 100rem;
  }
  .formx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .page3 {
    display: flex;
    flex-direction: column;
    height: 62.5rem;
  }
  .right-text {
    margin-top: 5rem;
  }
  .picture-right {
    height: 80%;
  }
  .header a,
  .header p {
    padding-left: 3.063rem;
  }
  .header a.logo,
  .header p.logo {
    padding-left: 4rem;
  }
}

@media (max-width: 850px) {
  .footer-text {
    margin-left: auto;
    margin-right: 3rem;
  }
  .footer-logo {
    margin-left: 3rem;
  }
  .page1 {
    height: 65rem;
  }
  .form-inline {
    flex-flow: row wrap;
    align-items: center;
  }
  .top-text {
    font-size: 4rem;
    text-align: center;
  }
  .second-text-centre {
    font-size: 1.5rem;
  }
  .first-text-bottom {
    font-size: 1rem;
  }
  .second-text-bottom {
    font-size: 0.75rem;
  }
  .first-text-centre {
    font-size: 9rem;
    text-align: center;
    margin: auto;
  }
  .t-two {
    font-size: 2.5rem;
  }
  .t-three {
    font-size: 1.32rem;
  }
  .five-page-button {
    font-size: 0.7rem;
  }
  form {
    padding-bottom: 3rem;
    padding-top: 3rem;
    max-width: 85%;
  }
  .six-page-button {
    max-width: 100%;
  }
  .formx {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picture {
    max-width: 80%;
  }
  .page2 {
    height: 50rem;
  }
  .makeup,
  .second-text-centre {
    padding-top: 10rem;
  }
  .page3 {
    display: flex;
    flex-direction: column;
    height: 62.5rem;
    padding-top: 20rem;
  }
  .right-text {
    padding-left: 6rem;
  }
  .page4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .img-page4 {
    justify-content: center;
  }
  .picture-right {
    max-height: 80%;
    justify-self: center;
  }
  .left-text {
    padding-right: 4rem;
  }
  .three-four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .left-text {
    padding-bottom: 3rem;
  }
  .page5 {
    padding-top: 5rem;
    height: 120%;
  }
  .page5-text {
    padding-bottom: 4rem;
  }
  .page6 {
    align-items: center;
    justify-content: center;
    height: 115%;
  }
  .last-img {
    max-width: 100%;
    padding: 0;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-right {
    margin-top: 0 auto;
    margin-left: 0.5rem;
  }
  .header a,
  .header p {
    padding-top: 5%;
    font-size: 1.25rem;
  }
  .header-right {
    padding-top: 5%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
    padding-right: 3rem;
  }
  .header .logo {
    padding-right: 0.5rem;
    max-width: 80%;
  }
}

@media (max-width: 385px) {
  #wrapper,
  #footer {
    margin: 0 auto;
  }
  .page1 {
    height: 65rem;
  }
  .header a,
  .header p {
    padding-top: 10%;
    font-size: 1rem;
  }
  .header-right {
    padding-top: 5%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
    padding-right: 3rem;
  }
  #c-1,
  #c-2,
  #c-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 16rem;
    height: 16rem;
  }
  .page2 {
    height: 45rem;
  }
  .makeup,
  .second-text-centre {
    padding-top: 6rem;
  }
  .top-text {
    font-size: 3.5rem;
    text-align: center;
  }
  .first-text-bottom {
    font-size: 0.7rem;
  }
  .first-text-centre {
    font-size: 5rem;
  }
  .first-page-button {
    max-width: 60%;
  }
  .second-text-centre {
    font-size: 1.5rem;
  }
  .second-text-bottom {
    font-size: 0.7rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .t-one,
  .t-two {
    font-size: 1.8rem;
  }
  .t-three {
    font-size: 1.2rem;
  }
  .picture-right {
    max-height: 60%;
    justify-self: center;
  }
  .img-page4 {
    justify-content: center;
  }
  .page3 {
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    height: 50rem;
  }
  .page4 {
    padding-top: 0.6rem;
  }
  .five-page-button {
    width: 80%;
    margin-top: 10%;
    margin-left: 0;
    font-size: 0.7rem;
  }
  .page5-b {
    margin-left: 10%;
    flex-direction: column;
  }
  .page5-text,
  .left-text,
  .right-text {
    margin: auto;
    padding-left: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 5rem;
  }
  .left-text {
    padding-right: 4rem;
  }
  .right-text {
    padding-bottom: 15rem;
  }
  .logo {
    padding-left: 0.4rem;
  }
  .icon-right {
    margin-top: 0 auto;
    margin-left: 0.5rem;
  }
  form {
    padding-bottom: 3rem;
    padding-top: 3rem;
    max-width: 80%;
  }
  input {
    margin-bottom: 1.8em;
  }
  .six-page-button {
    max-width: 100%;
  }
  .formx {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-size: 2.25rem;
  }
  .last-img {
    max-width: 100%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .footer-text {
    margin-left: auto;
    margin-right: 3rem;
  }
  .footer-logo {
    margin-left: 3rem;
  }
  .footer-text {
    font-size: 0.65rem;
  }
  #logo {
    max-width: 20%;
    height: 20%;
    padding-left: 0, auto;
  }
}
/*# sourceMappingURL=style.css.map */