$img-rgba: rgba(0, 0, 0, 0.72);
$white: #ffffff;
$accent-color: #dcac9b;
$black: #1a1a1a;
$accent-black: #000000;
$form-text: #8e8e8e;

@font-face {
  src: url(fonts/saudagar_400.ttf);
  font-family: Saudagar;
  src: url(fonts/saudagar_400.woff2) format("woff2"),
    url(fonts/saudagar_400.woff) format("woff");
  font-weight: normal;
}

@font-face {
  src: url(fonts/SukhumvitSet-Text.ttf);
  font-family: Sukhumvit;
  src: url(fonts/sukhumvitset-text-webfont.woff2) format("woff2"),
    url(fonts/sukhumvitset-text-webfont.woff) format("woff");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  margin: 0;
  overflow-x: unset;
}

@mixin centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1 {
  @include centre();
  background-image: url("images/salon.svg");
  height: 75rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  flex-direction: column;
  text-align: center;
}

.color-overlay {
  background-color: $img-rgba;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-page-button {
  width: 17.625em;
  height: 3.688rem;
  background: $accent-color;
  border-radius: 2px;
  font-family: Sukhumvit;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 172%;
  text-align: center;
  color: $black;
  border: none;
}

.div-button {
  padding-top: 4.375rem;
}

.first-text-centre {
  overflow: hidden;
  font-family: Saudagar;
  font-weight: 400;
  font-size: 17.188rem;
  line-height: 100%;
  color: $white;
  text-transform: uppercase;
  animation: typing 4.5s steps(100, end) infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: "hide";
  }
}

.first-text-bottom {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 2rem;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  white-space: nowrap;
}

.header {
  overflow: hidden;
  padding-top: 5rem;
}
.img-logo {
  width: 9.438rem;
  height: 3.188rem;
}
.header a,
.header p {
  float: left;
  color: $white;
  font-family: Sukhumvit;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 133%;
  padding-left: 4.063rem;
  &.logo {
    padding-left: 7.188rem;
  }
}

.header-right {
  float: right;
  padding-right: 7.188rem;
}

.page2 {
  background: $black;
  color: $white;
  height: 80rem;
  font-family: Saudagar;
  font-weight: 400;
}

.top-text {
  padding: 0rem;
  margin: 0rem;
  font-size: 19.6rem;
  line-height: 100%;
  text-transform: uppercase;
  opacity: 0.06;
  text-align: justify;
  white-space: nowrap;
}

.second-text-centre {
  font-size: 3.125rem;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 13.188rem;
}

.second-text-bottom {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
  text-align: center;
  color: rgba($white, 0.8);
  padding-top: 2.875rem;
}

.makeup {
  padding-top: 14.875rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.right-text,
.left-text {
  font-family: Saudagar;
  font-weight: 400;
}
.picture {
  padding-left: 17.688rem;
  padding-right: 15.625rem;
}

.page3 {
  height: 97.188rem;
  background: $white;
  padding-top: 21.25rem;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.t-one {
  color: $accent-color;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 150%;
  text-transform: uppercase;
}

.t-two {
  font-size: 3.125rem;
  line-height: 130%;
  text-transform: uppercase;

  &.white {
    color: $white;
    &.black {
      color: $black;
    }
  }
}
.t-three {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
  padding-top: 2.938rem;
  &.opacity-black {
    color: rgba($black, 0.8);
  }
  &.opasity-white {
    color: rgba($white, 0.8);
  }
}

.page4 {
  height: 59.375rem;
  background: $black;
  align-items: center;
  display: flex;
}

.img-page4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 10px;
  height: 100%;
  justify-content: flex-end;
  flex: 1;
}

.picture-right {
  flex: auto;
  padding-right: 12.5rem;
  height: 110%;
  justify-self: flex-end;
}
.left-text {
  padding-left: 17.688rem;
  flex: 50%;
}

.page5 {
  height: 124rem;
  padding-top: 15rem;
}

.page5-text {
  display: table-cell;
  flex: 50%;
  font-family: Saudagar;
  font-weight: 400;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
}

.picture-page5 {
  height: 47.25rem;
  padding-top: 13.125rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 9.125rem;
  margin: auto;
}

.page5-soon {
  font-family: Sukhumvit;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 130%;
  text-transform: uppercase;
  color: $accent-black;
  text-align: center;
  padding-top: 7.5rem;
}
.page5-button {
  padding-top: 3.125rem;
  @include centre();
}
.five-page-button {
  width: 11.375rem;
  height: 3.25rem;
  background: $accent-black;
  border-radius: 2px;
  color: $white;
  border: none;
  text-align: center;
  font-family: Sukhumvit;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 133%;
  text-transform: capitalize;
}

.circle {
  height: 33.813rem;
  width: 33.813rem;
  background-color: $accent-color;
  opacity: 0.6;
  border-radius: 50%;
  display: inline-block;

  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  position: relative;
  background-position: center;
  background-size: cover;
  margin-top: 17.438rem;
}

.first-circle {
  margin-left: 7.188rem;
  margin-right: 2.313rem;
}
.img-circle {
  display: inline-block;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0.6;
  height: 33.8125em;
  width: 33.8125em;
  margin-right: 7.218125em;
}

.btn-r {
  margin-left: 1.25em;
}

.btn-img,
img.del {
  vertical-align: middle;
}
img.del {
  display: inline-block;
  cursor: pointer;
  position: relative;
  height: 22.1px;
  width: 17.22px;
  padding-bottom: 0.25rem;
}

img.play {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.padding {
  padding-right: 0.625rem;
}

.astext {
  display: inline-block;
  text-align: center;
  margin-left: 0.625em;
}

.page6 {
  height: 67.5rem;
  background: $black;
}
form {
  color: $form-text;
  padding-top: 3.75rem;
  float: right;
  margin-right: 12.46875em;
}
input {
  width: 35.031rem;
  background: none;
  opacity: ($white, 0.7);
  border: none;
  border-bottom: 2px solid $white;
  box-sizing: border-box;
  border-radius: 2px;
  color: $white;
  margin-bottom: 3.125em;
  font-family: Sukhumvit;
}

input:focus,
input:hover {
  outline: none;
}

.formlabel {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 1rem;
  line-height: 165%;
  text-transform: uppercase;
}

h2 {
  font-family: Saudagar;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 130%;
  padding-top: 7.5rem;
  text-transform: uppercase;
  color: $white;
}

.last-img {
  float: left;
  padding-right: 11.875rem;
  height: 67.5rem;
}

.six-page-button {
  width: 35rem;
  height: 3.688rem;
  background: $accent-color;
  border-radius: 2px;
  font-family: Sukhumvit;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 172%;
  text-align: center;
  color: $black;
  border: none;
}

.icon-right {
  margin-top: 0.75rem;
  float: right;
}

.box {
  display: flex;
  flex-direction: column-reverse;
}

input:focus + label {
  transform: translateY(-10px);
}

#footer {
  height: 6.875rem;
  background-color: $accent-black;
  color: $white;
  @include centre();
  overflow-x: hidden;
}

.footer-text {
  margin-left: 89.813rem;
  font-family: Sukhumvit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 165%;
  text-align: center;
}
.footer-logo {
  margin-left: 7.813rem;
  height: 1.063rem;
  width: 6.938rem;
}

.light-btn:hover,
.light-btn:focus {
  background-color: adjust-color($accent-color, $lightness: 11%);
  cursor: pointer;
}

.five-page-button:focus,
.five-page-button:hover {
  opacity: (0.8);
  cursor: pointer;
}

.main {
  overflow-x: hidden;
}

.up {
  animation: 2s anim-up ease-out infinite;
}
@keyframes anim-up {
  0% {
    opacity: 0.02;
    transform: translateX(80%);
  }
  50% {
    opacity: 0.04;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

.moving-left {
  transition: transform 0.3s ease;
  transform: translateX(0px);
}
.moving-left:hover {
  transform: translateX(80px);
}

@media only screen and (max-width: 1900px) and (min-width: 1701px) {
  .last-img {
    height: fit-content;
    max-width: 35%;
    margin-top: 10%;
    padding-left: 7rem;
  }

  h2 {
    padding-right: 25%;
  }
  .formx {
    @include centre();
    flex-direction: column;
    margin: auto;
  }
  .parent {
    @include centre();
  }
}

@media (max-width: 1700px) {
  #wrapper,
  #footer {
    width: 100%;
  }
  .top-text {
    font-size: 10rem;
    text-align: center;
  }
  #c-1,
  #c-2,
  #c-3,
  .picture-page5 {
    @include centre();
    flex-direction: column;

    margin: auto;
    width: 16.9065rem;
    height: 16.9065rem;
  }
  .picture-page5 {
    height: fit-content;
  }

  .parent {
    margin-top: auto;
  }

  .second-text-bottom {
    font-size: 2.5rem;
  }
  .second-text-bottom {
    font-size: 1.125rem;
  }
  .left-text,
  .page5-text,
  .picture-right,
  .picture {
    padding-left: 5rem;
  }
  .page5-text,
  .right-text,
  .picture-right,
  .picture {
    padding-right: 5rem;
  }
  .picture {
    max-width: 100%;
    width: fit-content;
  }
  .picture-right {
    max-height: 80%;
  }
  .last-img {
    height: fit-content;
    max-width: 35%;
    margin-top: 20%;
  }

  h2 {
    padding-right: 25%;
  }
  .formx {
    @include centre();
    flex-direction: column;
    margin: auto;
  }
  #logo {
    width: fit-content;
    height: fit-content;
  }
  .footer-text {
    margin-left: 50%;
  }
}

@media (max-width: 768px) {
  #wrapper,
  #footer {
    margin: 0 auto;
  }
  .top-text {
    font-size: 6.8rem;
    text-align: center;
  }
  .second-text-bottom {
    font-size: 1.5rem;
  }
  .first-text-bottom {
    font-size: 1rem;
  }
  .second-text-bottom {
    font-size: 0.75rem;
  }
  .first-text-centre {
    font-size: 9rem;
    text-align: center;
    margin: auto;
  }
  .page3 {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .picture {
    max-width: 80%;
    padding-bottom: 10%;
    width: fit-content;
  }

  .page3 {
    height: 60rem;
  }

  .img-page4 {
    justify-content: center;
  }
  .picture-right {
    max-height: 60%;
    justify-self: center;
    padding-top: 0.125rem;
  }
  .page4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .three-four,
  .page6 {
    @include centre();
    flex-direction: column;
  }

  .page6 {
    align-items: center;
    justify-content: center;
    height: 115%;
  }

  .left-text,
  .page5-text,
  form {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .formx {
    padding-left: 15%;
    padding-right: 15%;
  }
  input,
  .six-page-button {
    width: 350px;
  }

  #logo {
    width: fit-content;
    height: fit-content;
  }
  .footer-text {
    margin-left: 25%;
    font-size: 0.5rem;
  }
  .t-two {
    font-size: 40px;
  }
  .five-page-button {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  #wrapper,
  #footer {
    margin: 0 auto;
  }
  .picture-page5 {
    width: 50%;
  }
  #c-1,
  #c-2,
  #c-3 {
    @include centre();
    flex-direction: column;
    margin: auto;
    width: 9rem;
    height: 9rem;
  }
  .top-text {
    font-size: 3.8rem;
    text-align: center;
  }

  .first-text-bottom {
    font-size: 0.7rem;
  }

  .first-text-centre {
    font-size: 5rem;
  }
  .first-page-button {
    max-width: 60%;
  }
  .second-text-centre {
    font-size: 1.5rem;
  }
  .picture-right {
    max-height: 40%;
    padding-top: 25rem;
    padding-left: 7rem;
  }

  .page5-soon,
  .first-page5-b {
    padding-top: 2rem;
  }

  .page3 {
    display: flex;
    flex-direction: column;
    height: 95%;
  }

  .right-text {
    padding-bottom: 30%;
  }

  .five-page-button {
    width: 80%;
    margin-top: 10%;
    margin-left: 0;
    font-size: 0.7rem;
  }
  .page5-b {
    margin-left: 10%;
    flex-direction: column;
  }
  .t-two {
    font-size: 30px;
  }

  #logo {
    width: 20%;
    height: 20%;
    padding-left: 0, auto;
  }
  .footer-text {
    margin-left: 20%;
  }

  .icon-right {
    margin-top: 0, auto;
    margin-right: 10%;
  }

  .header a,
  .header p {
    padding-top: 10%;
    font-size: 0.8rem;
  }

  .footer-text {
    font-size: 0.5rem;
  }

  input,
  .six-page-button {
    width: 250px;
  }

  .formx {
    padding-left: 10%;
    padding-right: 10%;
  }

  h2 {
    font-size: 2rem;
  }

  .last-img {
    max-width: 40%;
    padding-left: 30%;
  }
}
