@font-face {
  src: url(fonts/saudagar_400.ttf);
  font-family: Saudagar;
  src: url(fonts/saudagar_400.woff2) format("woff2"), url(fonts/saudagar_400.woff) format("woff");
  font-weight: normal;
}

@font-face {
  src: url(fonts/SukhumvitSet-Text.ttf);
  font-family: Sukhumvit;
  src: url(fonts/sukhumvitset-text-webfont.woff2) format("woff2"), url(fonts/sukhumvitset-text-webfont.woff) format("woff");
  font-weight: normal;
}

@media screen and (min-width: 780px) {
  .full-width-img {
    margin: auto;
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  width: 125vw;
}

.page1 {
  background-image: url("images/salon.svg");
  height: 161vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.72);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.first-page-button {
  width: 18.35vw;
  height: 7.9vh;
  background: #dcac9b;
  border-radius: 2px;
  font-family: Sukhumvit;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 172%;
  text-align: center;
  color: #1a1a1a;
  border: none;
}

.div-button {
  padding-top: 9.38vh;
}

.first-text-centre {
  overflow: hidden;
  font-family: Saudagar;
  font-weight: 400;
  font-size: 17.188rem;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  animation: typing 4.5s steps(100, end) infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: "hide";
  }
}

.first-text-bottom {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 2rem;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
}

.header {
  overflow: hidden;
  padding-top: 10.72vh;
}

.img-logo {
  width: 9.83vw;
  height: 6.83vh;
}

.header a {
  float: left;
  color: #ffffff;
  font-family: Sukhumvit;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 133%;
  padding-left: 4.29vw;
}

.header a.logo {
  padding-left: 7.49vw;
}

.header-right {
  float: right;
  padding-right: 7.49vw;
}

.page2 {
  background: #1a1a1a;
  color: #ffffff;
  height: 171.5vh;
}

.top-text {
  padding: 0rem;
  margin: 0rem;
  font-family: Saudagar;
  font-weight: 400;
  font-size: 19.6rem;
  line-height: 100%;
  text-transform: uppercase;
  opacity: 0.06;
  text-align: justify;
  white-space: nowrap;
}

.second-text-centre {
  font-family: Saudagar;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 28.284vh;
}

.second-text-bottom {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 6.166vh;
}

.makeup {
  padding-top: 32vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.right-text {
  display: table-cell;
  vertical-align: middle;
  font-family: Saudagar;
  font-weight: 400;
}

.picture {
  display: table-cell;
  padding-left: 13.67vw;
  padding-right: 16.27vw;
}

.page3 {
  height: 208.44vh;
  background: #ffffff;
  padding-top: 45.5vh;
  display: flex;
  align-items: center;
}

.t-one {
  color: #dcac9b;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 150%;
  text-transform: uppercase;
}

.t-two {
  font-size: 3.125rem;
  line-height: 130%;
  text-transform: uppercase;
}

.t-two.white {
  color: #ffffff;
}

.t-two.white.black {
  color: #1a1a1a;
}

.t-three {
  font-family: Sukhumvit;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 172%;
  padding-top: 6.3vh;
}

.t-three.opacity-black {
  color: rgba(26, 26, 26, 0.8);
}

.t-three.opasity-white {
  color: rgba(255, 255, 255, 0.8);
}

.page4 {
  height: 127.3vh;
  background: #1a1a1a;
  display: flex;
  align-items: center;
}

.picture-right {
  display: table-cell;
  flex: 50%;
  padding-right: 13.02vw;
  width: 37.76vw;
  height: 149.7vh;
  padding-bottom: 8.7%;
}

.left-text {
  display: table-cell;
  vertical-align: middle;
  flex: 50%;
  font-family: Saudagar;
  font-weight: 400;
  padding-left: 18.42vw;
}

.page5 {
  height: 266vh;
  padding-top: 32.17vh;
}

.page5-text {
  display: table-cell;
  flex: 50%;
  font-family: Saudagar;
  font-weight: 400;
  padding-left: 13.02vw;
  padding-right: 13.02vw;
}

.picture-page5 {
  height: 126.54vh;
  padding-top: 28.15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 16.08vh;
  display: block;
  margin: auto;
}

.page5-soon {
  font-family: Sukhumvit;
  font-style: normal;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 35.66vh;
}

.page5-button {
  padding-top: 6.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.five-page-button {
  width: 11.85vw;
  height: 6.970vh;
  background: #000000;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-align: center;
  font-family: Sukhumvit;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 133%;
  text-transform: capitalize;
}

.dot {
  height: 72.52vh;
  width: 72.52vh;
  background-color: #dcac9b;
  border-radius: 50%;
  display: inline-block;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  position: relative;
  background-position: center;
  background-size: cover;
  margin-top: 37.4vh;
}

.circle {
  margin-right: 2.3125em;
}

.circle.first-circle {
  margin-left: 7.1875em;
}

.circle.img-circle {
  display: inline-block;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 71.4vh;
  width: 71.4vh;
}

.btn-r {
  margin-left: 1.25em;
}

.btn-img {
  vertical-align: middle;
}

img.del {
  display: inline-block;
  cursor: pointer;
  position: relative;
  height: 22.1px;
  width: 17.22px;
  padding-bottom: 0.54vh;
}

img.play {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.padding {
  padding-right: 0.65vw;
}

.astext {
  display: inline-block;
  text-align: center;
  margin-left: 0.625em;
}

.page6 {
  height: 144.7vh;
  background: #1a1a1a;
}

form {
  color: #8e8e8e;
  padding-top: 8.04vh;
  float: right;
  margin-right: 12.46875em;
}

input {
  width: 36.49vw;
  background: none;
  opacity: #ffffff, 0.7;
  border: none;
  border-bottom: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #ffffff;
  margin-bottom: 3.125em;
  height: 1.876vh;
}

img {
  max-width: 100%;
  display: block;
}

.formlabel {
  font-family: Sukhumvit;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 165%;
  text-transform: uppercase;
}

input, label {
  display: block;
}

h2 {
  font-family: Saudagar;
  font-style: normal;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 130%;
  padding-top: 16.08vh;
  text-transform: uppercase;
  color: #ffffff;
}

.last-img {
  float: left;
  padding-right: 12.36vw;
  height: 144.7vh;
  width: 63.151vw;
}

.six-page-button {
  width: 36.458vw;
  height: 7.9vh;
  background: #dcac9b;
  border-radius: 2px;
  font-family: Sukhumvit;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 172%;
  text-align: center;
  color: #1a1a1a;
  border: none;
}

.icon-right {
  float: right;
  margin-top: 0.75em;
}

.box {
  display: flex;
  flex-direction: column-reverse;
}

input:focus + label {
  transform: translateY(-10px);
}

footer {
  height: 14.7vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-items: center;
}

.footer-text {
  margin-left: 88.5625em;
  font-family: Sukhumvit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 165%;
  text-align: center;
}

.footer-logo {
  margin-left: 7.8125em;
  height: 2.278vh;
  width: 7.226vw;
}

.up {
  animation: 2s anim-up ease-out infinite;
}

@keyframes anim-up {
  0% {
    opacity: 0.02;
    transform: translateX(80%);
  }
  50% {
    opacity: 0.04;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

.moving-left {
  transition: transform 0.3s ease;
  transform: translateX(0px);
}

.moving-left:hover {
  transform: translateX(80px);
}
/*# sourceMappingURL=style.css.map */