<!DOCTYPE html>
<html>
  <head>
    <title>Dropdown List</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="out">
      <div class="in">
        <span>Select</span>
        <img src="chevron-up.svg" alt="" />
      </div>
    </div>

    <div class="out">
      <div class="in">
        <span>Select</span>
        <img src="chevron-down.svg" alt="" />
      </div>
    </div>

    <br />
    <div>
      <div class="list shadow1">
        <p>First</p>
      </div>
      <div class="list shadow2">
        <p>Second</p>
      </div>
      <div class="list shadow3">
        <p>Third</p>
      </div>
    </div>
  </body>
</html>
